body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #7814FF;
    background-color: #e1d7d7;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

.container {
    border: 1px solid black;
    margin-top: 10px;
}

.autos {
    font-size: 25px;
    text-align: left;
}

.autos button {
    color: #FFFFFF;
    font-size: 25px;
    padding-inline: 20px;
    border-radius: 10px;
    background: #7814FF;
}

.autos button:hover {
    background: #0000FF;
}