@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* Importa as fontes 'Akaya Kanadaka' e 'Alata' do Google Fonts */

/* Estilos para o corpo da página */
body {
    color: #0073ff;
    font-family: 'Akaya Kanadaka', cursive;
    /* Define a fonte utilizada */
    text-align: center;
    /* Centraliza o conteúdo horizontalmente */
    background-color: #e1d7d7;
    /* Define a cor de fundo */
}

h1 {
    font-family: 'Alata', sans-serif;
    font-weight: bold;
    background: #7814FF;
    background: linear-gradient(to right, #7814FF 40%, #0000FF 100%);
    /* Cria um gradiente de cores no fundo, indo de roxo escuro para azul */
    -webkit-background-clip: text;
    /* Define a área do texto como a área de recorte para o gradiente de cores */
    -webkit-text-fill-color: transparent;
    /* Define a cor do texto como transparente para permitir a exibição do gradiente */
}

/* Estilos para elementos com a classe "border" */
.border {
    border: 1px solid black;
    /* Define uma borda sólida de 1px na cor preta */
}

/* Estilos para o container principal */
.container {
    margin-top: 10px;
    /* Define uma margem superior de 10px */
    padding-inline: 20px;
    /* Define um espaçamento horizontal interno de 20px */
}

.area1 {
    height: 392px;
    /* Define a altura do elemento */
    color: black;
    /* Define a cor do texto */
    font-size: x-large;
    /* Define o tamanho da fonte como x-large */
}

.area2 {
    height: 150px;
    /* Define a altura do elemento */
    color: black;
    /* Define a cor do texto */
    font-size: x-large;
    /* Define o tamanho da fonte como x-large */
}

.area3 {
    height: 40px;
    /* Define a altura do elemento */
    color: black;
    /* Define a cor do texto */
    font-size: x-large;
    /* Define o tamanho da fonte como x-large */
}

.area4 {
    height: 120px;
    /* Define a altura do elemento */
    color: black;
    /* Define a cor do texto */
    font-size: x-large;
    /* Define o tamanho da fonte como x-large */
}

.area5 {
    height: 120px;
    /* Define a altura do elemento */
    color: black;
    /* Define a cor do texto */
    font-size: x-large;
    /* Define o tamanho da fonte como x-large */
}

.area6 {
    height: 80px;
    /* Define a altura do elemento */
    color: black;
    /* Define a cor do texto */
    font-size: x-large;
    /* Define o tamanho da fonte como x-large */
}

.area7 {
    height: 90px;
    /* Define a altura do elemento */
    color: black;
    /* Define a cor do texto */
    font-size: x-large;
    /* Define o tamanho da fonte como x-large */
}

.area8 {
    height: 70px;
    /* Define a altura do elemento */
    color: black;
    /* Define a cor do texto */
    font-size: x-large;
    /* Define o tamanho da fonte como x-large */
}

.area9 {
    height: 70px;
    /* Define a altura do elemento */
    color: black;
    /* Define a cor do texto */
    font-size: x-large;
    /* Define o tamanho da fonte como x-large */
}

.area10 {
    height: 70px;
    /* Define a altura do elemento */
    color: black;
    /* Define a cor do texto */
    font-size: x-large;
    /* Define o tamanho da fonte como x-large */
}
